{
    "parser": "@typescript-eslint/parser",
    "extends": ["google", "eslint:recommended", "plugin:prettier/recommended"],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "rules": {
        "require-jsdoc": 0,
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ]
    },
    "options": {
        "capIsNew": false
    },
    "env": {
        "node": true,
        "es2021": true
    }
}
