.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
}

.wrapper .one-third {

    background-color: rgb(199, 199, 199);
}

.wrapper .two-third {
    grid-column: 2 / 3;
    background-color: rgb(185, 185, 185);
}

.wrapper .one-third,
.wrapper .two-third {
    padding: 20px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: 400;
}

.menu-item {
    display: block;
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(137, 137, 137);
    color: #fff;
    text-decoration: none;
}

.menu-item:hover {
    background-color: rgb(90, 90, 90);
    color: #fff;
}

.menu-item h3 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 400;
}

.menu-item p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 400;
}

button {
    margin: 5px;
    padding: 0;
    font-size: 1em;
    font-weight: 400;
    width: 40%;
    border: none;
    cursor: pointer;
}

dialog {
    width: 400px;
    height: 400px;
    padding: 20px;
    background-color: rgb(137, 137, 137);
    color: #fff;
    border: none;
}

dialog form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

dialog form input {
    margin: 5px;
    padding: 5px;
    font-size: 1em;
    font-weight: 400;
    border: none;
}

dialog form input[type="submit"] {
    margin: 5px;
    padding: 5px;
    font-size: 1em;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

dialog form input[type="submit"]:hover {
    background-color: rgb(90, 90, 90);
    color: #fff;
}

.orderinfo{
  width: 100%;
  height: auto;
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;

}
.orderID{
  width: auto;
  height: 20px;
  border-style: dotted;
  border-color:  rgb(116, 116, 116);

}
.userID{
  width: auto;
  height: 20px;
  border-style: dotted;
  border-color:  rgb(116, 116, 116);

}
.orderstatus{
  width: auto;
  height: 20px;
  border-style: dotted;
  border-color:  rgb(116, 116, 116);

}

.orderitems{
  width: 100%;
  height: auto;
  background-color: #fff;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
}
#items{
color: #000;
}

#quantity{
color: #000;
}

.button {

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;}
.button3 {background-color: #f44336;}
.button4 {background-color: #e7e7e7; color: black;}
.button5 {background-color: #555555;}
