* {
  box-sizing: border-box;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  margin: auto;

}

body.dark  {background-color: #111;}
body.dark  .topnav {background-color: #111;}
body.dark  .gap_text {color: #fff;}


.checkbox {
  opacity: 0;
  margin: 0;
  position: absolute;

}

.checkbox-label {
  background-color: #111;
  width: 36px;
  height: 19px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  display: flex;

}

.checkbox-label .ball {
  background-color: #fff;
  width: 17px;
  height: 17px;
  position: absolute;
  left:2px;
  top: 1px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

#icon_sun{
  margin: 2px;
  font-size:15px;
  color:#f39c12;
}
#icon_moon{
  margin: 2px;
  font-size:15px;
  color:#f3c57b;

}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(15px);
}

.support {
  margin: 0%;
	position: absolute;
  margin: 5px;
}

h1{
  font-family: 'Sofia Sans Condensed', sans-serif;
  padding-left: 20px;
}

/* Header/Blog Title */
.header {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(25,25,25,1) 100%);
  background-position: 100% 100%;
  background-size: 100%;
  height: 600px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  padding: 0;
  background-repeat: no-repeat;
  min-width: 250px;
  background-position: right;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
}

.gap{

  height: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(59, 59, 59, 0.30);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%);
}

.gap_text{
  margin-left: 20px;
  margin-bottom: 0;
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 0;
  color:#4C3F59;
}

.leftcolumn {
  float: left;
  width: 100%;
}

#ravintola{
  background-color: #7F7F7F;
  width: 600px;
  height: 500px;
  float: left;
  padding-right: 5%;
  border-radius: 10px;
  margin-right: 15px;
}

#logo{
 width: 89px;
 margin-top: 7px;
}

#logo_hero{
  margin-left: 15px;
  float: left;
  width: 360px;

}
#logotaus{
  background-color: white;
  border-bottom-right-radius: 20px;
  min-width: 200px;
  height: 58px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 25px;
  margin-top: 25px;
  height: auto;
  background-image: url("kuvat/output-onlinepngtools.png");
  background-size: 300px;
  min-width: 300px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  min-width: 300px;
}

.text1{
  padding-left: 10px;
  margin-right: 20px;
  max-width: 800px;
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 30px;
  color: #111;
}

.text2{
  width: 500px;
  padding-right: 20px;
  margin-right: 20px;
  max-width: 500px;
  padding: 30px;
  color: #111;
}
.textOverlay{
  color: #ddd;
  margin-left: 40px;
  display: block;
  display: flex;
  flex-direction:column;
  align-items:baseline;
  justify-content: center;
  display: block;

}

.herotext1{
  margin-top:0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  margin-left: 15px;
}
.herotext2{
  margin-top:0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  color: #F09819;
  margin-left: 15px;
}




.button-R {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .bbutton-R {
    padding: 19px 32px;
  }
}

.button-R:before,
.button-R:after {
  border-radius: 80px;
}

.button-R:before {
  background-color: rgba(157, 19, 249, 0.32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-R:after {
  background-color: initial;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,9,121,1) 0%, rgba(79,0,255,1) 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-R:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-R:active:not(:disabled) {
  color: #ccc;
}

.button-R:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-R:disabled {
  cursor: default;
  opacity: .24;
}
  section #meals{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
 }
 section #burgers{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
 }
 /* items */
 .item {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 15px;
            padding: 20px;
            width: 300px;
            text-align: center;
       }
#burger_meal_flex{
	display: flex;
	flex-wrap: nowrap;
}
#button_add_counter{
	position: absolute;
	right: 20px;
	top: 400px;
}

   #counter {
      font-size: 16px;
	height: 30px;
	position: absolute;
	right: 20px;
	top: 400px;
}
#button_remove_counter{
	position: absolute;
	right: 20px;
	top: 340px;
}
#button_add_cart{
	position: absolute;
	right: 20px;
	top: 440px;
font-family: 'Sofia Sans Condensed', sans-serif;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,9,121,1) 0%, rgba(79,0,255,1) 100%);
  color: #fff;
  cursor: pointer;
}


/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#login{
  margin-top: 0px;
  width: 20px;
  height: auto;
}

/* top nav starts */
.topnav {
overflow: hidden;
background-color: #ddd;
min-width: 250px;
font-family: "Sofia Sans Condensed", sans-serif;
font-weight: 600;
}

.navtext{
  margin-top: 10px;
}

.topnav a {
float: left;
display: block;
color: #4C3F59;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}


.topnav a:hover {
color: #ccc;
}

.topnav a.active {
color: white;
}

.topnav .icon {
display: none;
}

#cart{
  margin-top: 0;
  padding: 0;
  float: left;
  width: 70px;
  height: auto;
}






@media screen and (max-width: 899px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
}
}

@media screen and (max-width: 899px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  left: 90%;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
  width: 100%;
}
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (min-width: 900px) {
  body {
    width: 65%;

  }
}

@media screen and (max-width: 900px) {
  #cart {
    margin-bottom: 10px;
    margin-left: -20px;
  }
}


@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float:inline-start;
    width: 10px;
  }
}

@media screen and (max-width: 1562px) {
  #ravintola {
    width: 100%;
    padding: 10px;
    min-width: 100%;
  }
}

@media screen and (max-width: 1562px) {
  #text {
    width: 100%;
    height: 100%;
  }
}



form.form-sub {
  display: table;

}

div.form-sub {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}
.form-sub input{
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  border-left: 7px solid black;
  border-left-color:#7F7F7F;
  transition:  border-left-color 1.5s;

}

.form-sub input:invalid{
  border-left-color: orange;
  opacity: 60%;
}

.form-sub input:valid{
  border-left-color: green;
  opacity: 60%;
}



