

button {
    margin-top: 2rem;
    width: calc(44px * var(--ratio));
    height: 30px;
    border-radius: calc(3px * var(--ratio));
    border: none;
    letter-spacing: ccalc(3 * var(--leading, 0.025em));
    font-family: inherit;
    color: var(--grey-color);
    background-color: var(--light-color-bg);
    font-size: large;
    font-weight: 700;
  }

  button:focus {
    outline: none;
    border: 0.0625rem solid transparent;
    box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--dark-color-bg);
  }

  button.cta {
    background-color: var(--cta-color);
    color: white;
  }

  button.cta:focus {
    box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--cta-color);
  }

  #open_dialog {
    margin: 0 auto;

  }

  dialog {
    border: none !important;
    border-radius: 20px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    max-width: 400px;
    position: fixed;
    max-height: 900px;
    z-index: 80;
    /* position: -webkit-sticky;
    position: sticky;
    bottom: 10em;*/
  }

  dialog img {
    display: block;
    max-width: 75%;
    margin: 1rem 0 auto 2rem;
  }


  .h1 {
    margin: 2rem 0 1rem;
    font-weight: 900;
    font-family: 'Sofia Sans Condensed', sans-serif;

  }

  .h2 {
    margin: 2rem 0 1rem;
    font-weight: 800;
  }
  h3{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
  }

  p {
    color: #111;
    padding-left: 20px;
    font-family: 'Cabin', sans-serif;
    font-weight: 200;
    margin:0;
  }

  p1{
    font-family: 'Cabin', sans-serif;
    font-weight: 200;
    margin:0;
    font-size: 15px;
    padding-left: 20px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  .flex.flex-space-between {
    justify-content: space-between;
  }

  .flex button {
    margin: 5px auto;
  }


  form.form-sub {
    display: table;

  }

  div.form-sub {
    display: table-row;
  }

  label,
  input {
    display: table-cell;
    margin-bottom: 10px;
  }

  label {
    padding-right: 10px;
  }
  .form-sub input{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    border-left: 7px solid black;
    border-left-color:#7F7F7F;
    transition:  border-left-color 1.5s;

  }

  .form-sub input:invalid{
    border-left-color: orange;
    opacity: 60%;
  }

  .form-sub input:valid{
    border-left-color: green;
    opacity: 60%;
  }


  #register{
    background-color: white;
    border: none !important;
    border-radius: 20px;
    padding: 0.6rem;
    max-width: 700px;
    height: auto;
    top: 20%;
    left: 40%;

  }

  #register.flex{
    display: flex;
    flex-wrap: wrap;
  }

  #register img {
    display: block;
    max-width: 75%;
    margin: 1rem 0 auto 2rem;

  }

  @media screen and (max-width: 600px) {
    #register {
      top: 10%;
      left: 10%;
    }
  }

  .errordialog{
    position: fixed;
    top: 10%;
    z-index: 1000;
    background-color: #dc8383;
    color: #fff;
  }

  .errordialog p{
    color: #fff;
  }

  .cartdialog{
    position: fixed;
    top: 85%;
    left: 55%;
    z-index: 100;
    background-color: rgb(127,110,255);;
    color: #fff;
    text-decoration: none;
  }

  .cartB{
    margin: 0;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
